.full-container {
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 650px;
    gap: 20px;
    padding: 4px;
}

.menu-container {
    background-color: #EEEEEE;
    height: 625px;
    width: 35%;
    padding: 4px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.connect-four-container {
    background-color: #EEEEEE;
    height: 625px;
    width: 60%;;
    padding: 4px;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.connect-four-grid {
    margin-top: 20px;
    display: grid;
    /* 7 columns of 20px each */
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(6, 75px);
    place-items: center;
    gap: 0; /* borders on .square will show the cell boundaries */
    width: calc(7 * 75px);
    height: calc(6 * 75px);
    border: 2px solid navy;
}

.square {
    background-color: #EEEEEE;
    border: 1px solid blue;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.red {
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.yellow {
    background-color: yellow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 4px;
}

.button {
    background-color: #DDDDDD;
    border: 2px solid black;
    height: 60px;
    width: 140px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
}

.highlight {
    background-color: lightgoldenrodyellow;
    transform: scale(1.03);
}

.banner {
    background-color: #EEEEEE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}


