h1 {
    background-color:beige;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    padding: 10px;
}

.rps-menu {
    background-color: #EEEEEE;
    height: 750px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.rps-item {
    background-color: #EEEEEE;
    height: 196px;
    width: 450px;
    display:flex;
    justify-content: space-around;
    margin: 4px;
    text-align: center;
}

.game-button {
    background-color: #DDDDDD;
    border: 2px solid black;
    height: 144px;
    width: 144px;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.reset-button {
    background-color: #DDDDDD;
    border: 2px solid black;
    height: 100px;
    width: 120px;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.game-button:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
}

.reset-button:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .game-menu {
        flex-direction: column;
        height: auto;
    }

    .game-item {
        margin: 8px 0;
    }
    .game-button {
        width: 100%;
        font-size: 1.2rem;
        padding: 16px;
    }
    .reset-button {
        width: 100%;
        font-size: 1.2rem;
        padding: 16px;
    }
}

.banner {
    background-color: #EEEEEE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
}
