h1 {
    background-color:beige;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    padding: 10px;
}

.tic-tac-toe-container {
    background-color: #EEEEEE;
    height: 750px;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.tic-tac-toe-grid {
    display: grid;
    grid-template-columns: repeat(3, 144px);
    grid-template-rows: repeat(3, 144px);
    gap: 8px;
    width: max-content;
    margin: 20px auto;
}

/* tic tac toe buttons */
.tic-tac-toe-cell {
    height: 144px;
    width: 144px;
    background-color: #EEEEEE;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.reset-button {
    background-color: #DDDDDD;
    border: 2px solid black;
    height: 80px;
    width: 120px;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.start-button {
    background-color: #DDDDDD;
    border: 2px solid black;
    height: 80px;
    width: 120px;
    margin: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.tic-tac-toe-cell:hover {
    background-color: #CCCCCC;
    transform: scale(1.03);
}   

.reset-button:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
}

.start-button:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .tic-tac-toe-container {
        flex-direction: column;
        height: auto;
    }

    .tic-tac-toe-cell {
        width: 100%;
        font-size: 1.2rem;
        padding: 16px;
    }
    .reset-button {
        width: 100%;
        font-size: 1.2rem;
        padding: 16px;
    }
    .start-button {
        width: 100%;
        font-size: 1.2rem;
        padding: 16px;
    }
}

.banner {
    background-color: #EEEEEE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
}

.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}